$desktop-width: 1240px;
$tablet-width: 600px;
$body-font-color : #2d2d2d;
$light-grey : #969696;
$orange : #e2574c;
$link-hover : #b64036;
$grey-border : #d7d7d7;
$footer-background : #242424;
$body-font-family : 'Raleway';
$headings-font-family : 'Playfair Display';
$light-font-weight : 300;
$medium-font-weight : 500;
$normal-font-weight : normal;
$normal-font-style : normal;
$italic-font-style : italic;
$bold-font-weight : bold;
$mobile-base-font-size : 14px;
$tablet-desktop-base-font-size : 16px;

